// HERO

.hero {
  margin-top: -132px;
  background-image: url('../../../assets/img/hero_back.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 213px;
  padding-bottom: 269px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero__title {
  margin: 0;
  margin-bottom: 33px;
}

.hero__img_savr_avenue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin-bottom: 33px;
}

.hero__img_savr {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3px;
}

.hero__img_avenue {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3px;
}

.hero__img_a {
  margin-right: -50px;
}

.hero_img {
  transition: 0.3s;
  &:hover {
    margin-top: -65px;
    transform: scale(1, 1.4);
  }
}

.hero__mini_img {
  display: none;
}

.hero__link_wrap {
  padding: 11px 24px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #09301d;
    .hero__link {
      color: #ffffff;
    }

    .hero__arrow_white {
      margin: 0;
    }
  }
}

.hero__link {
  font-weight: 600;
  font-family: 'Jost', serif;
  font-size: 16px;
  line-height: 24px;
  color: #09301d;
  text-decoration: none;
}

.hero__arrow {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.hero__arrow_white {
  filter: invert(100%);
  margin-left: -24px;
  transition: 0.3s;
}

.hero__arrow_black {
  transition: 0.3s;
}

.hero__on_view {
  animation: hero__on-view 1.5s ease;
  opacity: 1;
  transform: translateX(0);
}

@keyframes hero__on-view {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 820px) {
  .hero__content {
    margin-top: 200px;
    margin-bottom: 50px;
  }

  .hero__img_savr_avenue {
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 450px) {
  .hero__content {
    margin-top: 180px;
    margin-bottom: 0;
  }

  .hero__link_wrap {
    display: none;
  }

  .hero__img_savr_avenue {
    display: none;
  }

  .hero__mini_img {
    width: 100%;
    display: block;
  }
}

// INSTURUCTURE

.instructure__content {
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
}

.instructure__title {
  font-family: Jost;
  font-size: 48px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  color: #09301d;
  margin-bottom: 32px;
}

.instructure__list {
  @include reset-list();
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.instructure__item {
  margin-bottom: 40px;
}

// ADVANTAGES

.advantages {
  margin-top: 78px;
}

.advantages__title {
  font-family: Jost;
  font-size: 48px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  color: #09301d;
  margin: 0;
  margin-bottom: 32px;
  margin-left: 80px;
}

.advantages__list {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.advantages__item {
  &:nth-child(5) {
    margin-left: 100px;
  }
  &:not(:last-child) {
    margin-right: 50px;
  }
}

// ABOUT PROJECT

.about__project {
  margin-top: 33px;
}

.about__content {
  margin-left: 50px;
  margin-right: 50px;
}

.about__text {
  max-width: 1240px;
}

.about__title {
  font-family: Jost;
  font-size: 48px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  color: #09301d;
  margin: 0;
  margin-bottom: 24px;
}

.about__parag {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.about__project__img {
  width: 100%;
  position: relative;
}

.about__project__img_list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  cursor: grab;
}

// .about-project__on-view{
//     animation: about-project__on-view 1s ease;
// }

// @keyframes about-project__on-view {
//     0% {

//     }
//     100% {
//     }
// }

.about__project__img_catalog {
  min-width: 850px;
  height: 600px;
}

.about__project__ellipse_top {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1500px;
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  z-index: 2;
}

.about__project__ellipse_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1500px;
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  z-index: 2;
}

.active {
  scroll-snap-type: unset;
}

.about__project_item {
  width: 850px;
  height: 600px;
  margin-right: 120px;
  z-index: 1;
  scroll-snap-align: center;
  &:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 820px) {
  .about__project__img_catalog {
    width: 600px;
    height: 400px;
  }
  .about__project__ellipse_bottom {
    display: none;
  }

  .about__project__ellipse_top {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .about__project__parag:last-child {
    display: none;
  }
  .about-project__title {
    font-size: 32px;
    line-height: 38px;
  }
}

// PLANING

.planing {
  margin-top: 33px;
  margin-left: 50px;
  margin-right: 50px;
}

.planing__title {
  font-family: Jost;
  font-size: 48px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  color: #09301d;
  margin: 0;
  margin-bottom: 24px;
}

.planing__types__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}

.planing__types__item {
  position: relative;
  margin: 0;
  border: 1px solid #09301d4d;
  padding: 25px 24px;
  overflow: hidden;
  &:hover {
    outline: 1px solid #09301dcc;
    .two_room {
      height: 100%;
    }
    .three_room {
      display: block;
      left: 40%;
    }
  }
}

.planing__types__text {
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #09301d;
  margin: 0;
}

.two_room {
  transition: 0.5s ease;
  position: absolute;
  bottom: 0;
  left: 40%;
  display: block;
  width: 2px;
  height: 0;
  background-color: #09301d33;
}

.three_room {
  transition: 0.5s ease;
  position: absolute;
  bottom: 50%;
  left: 100%;
  width: calc(100% - 40px);
  height: 1.5px;
  background-color: #09301d33;
}

.planing__cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
}
.planing__cards {
  position: relative;
}

.planing__cards__item {
  width: calc(100% / 4 - 40px);
  margin-left: 40px;
  &:first-child {
    margin-left: 30px;
  }
}

.planing__btns {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
  margin-left: -30px;
  margin-right: -30px;
}

.planing__btn {
  border: none;
  border-radius: 50%;
  padding: 24px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 12px 3px #0000000d;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

@media only screen and (max-width: 820px) {
  .planing__title {
    font-size: 32px;
    line-height: 38px;
  }

  .planing__types__list {
    flex-direction: column;
  }

  .planing__types__item {
    width: 100%;
  }
  .planing__types__text {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .planing__btn {
    width: 60px;
    height: 60px;
    padding: 0;
  }
}

@media only screen and (max-width: 450px) {
  .planing__title {
    font-size: 24px;
    line-height: 29px;
  }
}

// LOCATION

.location {
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
}

.location__title {
  font-family: Jost;
  font-size: 48px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  color: #09301d;
  margin: 0;
  margin-bottom: 32px;
}

.location__text {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
}

.location__map_wrap {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 32px;
  margin-top: 48px;
}

.location__about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  border-radius: 12px;
  background-color: #adadad1a;
  max-width: 380px;
  width: 100%;
}

.location__onfoot_title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Jost;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #09301d;
  margin: 0;
}

.location__oncar_title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Jost;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #09301d;
  margin: 0;
}

.location__onfoot_info {
  margin: 0;
  margin-top: 12px;
}

.location__onfoot_dt {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #010101cc;
  margin: 0;
  float: left;
}
.location__oncar_dt {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #010101cc;
  margin: 0;
  float: left;
}

.location__onfoot_dd {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #010101cc;
  margin: 0;
}

.location__oncar_dd {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #010101cc;
  margin: 0;
}

.location__map {
  width: 820px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
}

@media only screen and (max-width: 820px) {
  .location__map_wrap {
    flex-direction: column-reverse;
  }
  .location__about {
    max-width: 100%;
  }
  .location__map {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 450px) {
  .location__title {
    font-size: 32px;
    line-height: 38px;
  }

  .location__text {
    font-size: 16px;
    line-height: 20px;
  }

  .location__map {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .location__onfoot_title {
    font-size: 18px;
    line-height: 20px;
  }

  .location__oncar_title {
    font-size: 18px;
    line-height: 20px;
  }

  .location__oncar_dd {
    font-size: 14px;
    line-height: 16px;
  }

  .location__onfoot_dd {
    font-size: 14px;
    line-height: 16px;
  }

  .location__oncar_dt {
    font-size: 14px;
    line-height: 16px;
  }

  .location__onfoot_dt {
    font-size: 14px;
    line-height: 16px;
  }
}

// FOOTER

.footer {
  background-image: url('../../../assets/img/hero_back.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-top: 120px;
}

.footer__content {
  background-color: #00000099;
  padding: 80px 100px 60px 100px;
}

.footer__get_consulting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 62px;
}

.footer__logo_mobile {
  display: none;
}

.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 484px;
  background-color: #ffffff66;
  border-radius: 4px;
  margin-left: 20px;
}

.footer__form--active {
  margin: 0;
  margin-top: 115px;
  margin-left: 424px;
}

.footer__form_title {
  font-family: Jost;
  font-size: 40px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  margin: 0;
  color: #ffffff;
}

.footer__form_text {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffffe5;
  margin-top: 24px;
  margin-bottom: 16px;
}

.footer__form_input {
  width: Fill (404px) px;
  height: Hug (48px) px;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  border-radius: 4px;
  border: 1.5px solid #09301d33;
  opacity: 0px;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffffb2;
  background-color: transparent;
  margin-bottom: 32px;
  outline: 0;
  &:focus {
    border: 1.5px solid #09301d;
  }
  &::placeholder {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ffffffb2;
  }
}

.footer__form_btn {
  width: Fill (404px) px;
  height: Hug (48px) px;
  background-color: #09301d;
  border-radius: 4px;
  border: none;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fefdf9;
  box-shadow: 0px 0px 8px 2px #341f0a1a;
  padding: 12px 16px 12px 16px;
  text-align: center;
  transition: 0.5s ease;
  &:hover {
    background-color: #ffffff;
    color: #09301d;
    cursor: pointer;
  }
}

.footer__link_wrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__nav_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav_item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer__nav_link {
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.footer__contact_wrap {
  display: flex;
  align-items: start;
  gap: 40px;
}

.footer__contacts_title {
  font-family: Jost;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin: 0;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer__contacts_numbers {
  margin-bottom: 38px;
}

.footer__contacts_number {
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: left;
  margin: 0;
  color: #ffffff;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer__contacts_wrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}

.footer__contacts_social {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 36px;
}

.footer__address {
  width: 294px;
}

.footer__address_title {
  font-family: Jost;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin: 0;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer__address_link {
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.footer__arrow {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  padding: 20px;
  background-color: #09301d99;
  animation-name: footerArrow;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}

@keyframes footerArrow {
  from {
    transform: scale(0.8, 0.8);
  }
  to {
    transform: scale(1, 1);
  }
}

.footer__arrow_wrap {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #09301db2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

@media only screen and (max-width: 820px) {
  .footer__get_consulting {
    flex-direction: column;
  }

  .footer__form {
    display: none;
  }

  .footer__arrow {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .footer__contact_wrap {
    margin-left: 40px;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .footer__nav_link {
    font-size: 20px;
    line-height: 24px;
  }

  .footer__contacts_title {
    font-size: 24px;
    line-height: 28px;
  }

  .footer__contacts_number {
    font-size: 18px;
    line-height: 22px;
  }

  .footer__address_title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .footer__address_link {
    font-size: 18px;
    line-height: 22px;
  }
}
